@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi/Satoshi-Variable.woff2') format('woff2'),
       url('/fonts/Satoshi/Satoshi-Variable.woff') format('woff');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi/Satoshi-VariableItalic.woff2') format('woff2'),
       url('/fonts/Satoshi/Satoshi-VariableItalic.woff') format('woff');
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globais */
body {
  @apply bg-black text-white;
}

/* Resto do seu CSS global aqui */

@layer base {
  :root {
    --font-satoshi: 'Satoshi', sans-serif;
  }
}

.font-satoshi {
  font-family: var(--font-satoshi);
}

